.services {
  padding-top: 100px;
  padding-bottom: 70px;
  margin-bottom: 100px;
  background-color: $grey;
}

.services__headline {

}

.services__description {
}

.services__item {
  padding: 0 20px;
  padding-top: 200px;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -60px;
    border-radius: 50%;
    overflow: hidden;
  }

  &:before {
    background-image: radial-gradient(#475462, $dark-grey);
  }

  &::after {
    background-image: url("/img/services/services-sprite.png");
    background-repeat: no-repeat;
    background-position: 33px 31px;
  }
}

.services__item:nth-child(2) {
  &::after {
    background-position: -112px 31px;
  }
}

.services__item:nth-child(3) {
  &::after {
    background-position: -279px 31px;
  }
}

.services__item:nth-child(4) {
  &::after {
    background-position: -454px 34px;
  }
}

.services__title {
  text-align: center;

  @include title-font();
}

.services__text {
  font: inherit;
  color: $dark-grey;
  text-align: center;
  opacity: 0.8;
}
