.works {
  margin-bottom: 100px;
  background-color: #ffffff;
}

.works__wrapper {
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
}

.works__description {
  margin-bottom: 80px;
}

.works__img {
  width: 257px;
  height: 202px;
}
