@font-face {
  font-family: 'montserratbold';
  src: url('montserrat-bold.woff2') format('woff2'),
       url('montserrat-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_extraboldregular';
  src: url('montserrat-extrabold.woff2') format('woff2'),
       url('montserrat-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_lightregular';
  src: url('montserrat-light.woff2') format('woff2'),
       url('montserrat-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_mediumregular';
  src: url('montserrat-medium.woff2') format('woff2'),
       url('montserrat-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url('montserrat-regular.woff2') format('woff2'),
       url('montserrat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_semiboldregular';
  src: url('montserrat-semibold.woff2') format('woff2'),
       url('montserrat-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('opensans-bold.woff2') format('woff2'),
       url('opensans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans_extraboldregular';
  src: url('opensans-extrabold.woff2') format('woff2'),
       url('opensans-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans_lightregular';
  src: url('opensans-light.woff2') format('woff2'),
       url('opensans-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('opensans-regular.woff2') format('woff2'),
       url('opensans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans_semiboldregular';
  src: url('opensans-semibold.woff2') format('woff2'),
       url('opensans-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
